html{
    scroll-behavior: smooth;
    font-family: "Lucida Console", "Courier New", monospace;
    
}
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.content_img{
    display: flex;
    margin-top: 100px;
    margin-bottom:-85px ;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.content_img a img{
    animation-name: AboutImage;
    animation-duration: 2.2s;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 8px black;
    border-radius: 10%;
}
.side_bar{
    animation-name: bodyText;
    animation-duration: 1.2s;
    display: flex;
    width: 100%;
    height: 85px;
    align-items: center;
    position: fixed;
    box-shadow: 8px 8px 5px black;
    border-bottom:  1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(00, 00, 00, 0.85);
}
.side_bar a{
    animation-name: bodyText;
    animation-duration: 2s;
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    background-color: rgba(0, 0, 0, .5);
    padding: 8px;
    float: left;
    margin-right: 3px;
    border-radius: 10px;
    font-size: 18px;
    
}
.side_bar a:hover{
    background-color: rgba(189, 210, 200, .6);
}
.side_bar ul{
    margin-left: 2%;
    list-style: none;
    
    
}

.side_bar ul li {
    display: inline;
    
}
section .content{

    
}
.body_page_content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: 	#030208;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    height: 100%;
}
.body_page_content_projects{
    animation-name: bodyText;
    animation-duration: 1.2s;
    margin-top: 0.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    min-width: 240px;
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(18, 21, 20, .46);
    box-shadow: 5px 5px 5px black;
    margin-bottom: 2%;
}
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.projects a{
    white-space:  nowrap;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 22px;
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(18, 21, 20, .46);
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    padding: 15px;
}

.body_page_content_text{
    animation-name: bodyText;
    animation-duration: 1.2s;
    margin-top: 0.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    min-width: 240px;
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(18, 21, 20, .46);
    box-shadow: 5px 5px 5px black;
    margin-bottom: 2%;
}
.body_page_content_text h4{
    margin-left: 15px;
    
}
    .body_page_content_title{
        animation-name: AboutImage;
        animation-duration: 1s;
        margin-top: 100px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 10px;
        width: 20%;
        min-width: 240px;
        border-width: 1px;
        border-style: solid;
        border-top-color: rgba(200, 210, 200, .6);;
        border-left-color: rgba(200, 210, 200, .6);;
        border-right-color: rgba(18, 21, 20, 1);
        border-bottom-color: rgba(18, 21, 20, 1);
        background-color: rgba(18, 21, 20, .46);
        box-shadow: 5px 5px 5px black;   
    }

.body_page_content_title h1{
    text-transform: uppercase;
    
    

}
.image_contact{
    
    height: 48px;
    width: 48px;
    margin-top: 10px;
    margin-left: 20px;
    
}

.image_contact img{
    
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}
.body_page_content_contact{
    animation-name: bodyText;
    animation-duration: 1.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.body_page_content_contact a{
    white-space:  nowrap;
    text-decoration: none;
    color: white;
    margin-left: 2%;
    font-size: 22px;
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(18, 21, 20, .46);
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    padding: 15px;
}
.contract{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contract a{
    white-space:  nowrap;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 22px;
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(18, 21, 20, .46);
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    padding: 15px;
}
.margin{
    margin-top: 100px
}

@keyframes bodyText {
     0%{
        animation-timing-function:ease-in-out;
        transform: translateX(-130%) scale(0);
        
     }
     100%{
        transform: translateX(0px) scale(1);
        animation-timing-function:ease-in-out;
     }
 }
@keyframes AboutImage {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}